.createNoteContainer{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.note-create-form{
  height: 450px;
  width: 480px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  display: flex;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
  justify-content: space-evenly;
}

#share {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Road rage';
  margin-top: 10px;
  margin-bottom: 10px;
}

.formNotes {
  display: flex;
  justify-content: center;
}

  .note-create-form label {
    font-size: 18px;
    color: #912E2E;
  }
  
  .note-create-form input {
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    border: 0.5px solid #912E2E;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .note-create-form input:focus {
    border-color: #C88484;
  }
  
  .note-create-form button {
    background-color: #C88484;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .note-create-form button:hover {
    background-color: #912E2E;
  }
  
  .note-create-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  