.aboutContainer{
  display: flex;
  flex-direction: column;
}

.aboutUp{
  margin-top: 90px;
  background-color: #912E2E;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.aboutUp h2 {
  margin-top: 40px;
}

.aboutDown{
  padding-top: 40px;
  height: 50vh;
  color: #912E2E;
}

.aboutFotos{
  margin-top: 10px;
  height: 200px;
  width: 200px;
  border: 5px solid #F3A87E;
  border-radius: 50%;
}

.aboutPlayer{
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.linksContainers {
  height: 35px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
}

.linksContainers svg {
  height: 30px;
  width: 30px;
}

.aboutContainer h3{
  justify-content: space-evenly;
}

.aboutIcons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

