.main-list{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.tweet-list {
  display: flex;
  max-width: 1400px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
}

