/* Estilo para el fondo principal del registro y el login */
.registerMain {
  height: 100vh;
  background-color: #912E2E;
}

/* Estilo para los botones de enlace */
.link-btn {
  margin-top: 20%;
  cursor: pointer;
  font-size: 98%;
}

/* Estilo para los botones de enlace al pasar el mouse por encima */
.link-btn:hover {
  color: #F3A87E;
  text-decoration: underline;
}

/* Estilo para el encabezado "Login" */
.loginh1 {
  color: #F3A87E;
  font-family: 'Road Rage', cursive;
  background: none;
  font-size: 440%;
  cursor: pointer;
  margin-top: 30%;
}

/* Estilo para el encabezado "Login" */
.loginh2 {
  font-size: 140%;
}

/* Estilo para el botón de registro */
.registerLog {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; 
  border: none;
  background-color: #e97f42;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Estilo para el botón de registro al pasar el mouse por encima */
.registerLog:hover {
  background-color: #e33714e3;
}

/* Estilo para el contenedor del formulario de registro/login */
.auth-form-container2 {
  height: 550px;
  width: 380px;
  margin: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  display: flex;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
  justify-content: space-evenly;
}

/* Estilos para el grupo de elementos del formulario */
.register-form {
  position: relative;
}

/* Estilos para el contenedor del campo de contraseña con el botón */
.password-input-container-register {
  display: flex;
}

/* Estilos para el campo de entrada de contraseña */
.password-input-container-register input {
  flex: 1;
  margin-right: 10px;
}

/* Estilos para el botón de alternar contraseña (mostrar/ocultar) */
.password-toggle-button-register {
  position: absolute;
  right: 25px;
  top: 69%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* Media query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 1300px) {
  .auth-form-container2 {
    width: 25%;
    margin: 20px;
    height: 85%;
  }

  .loginh1 {
    font-size: 300%;
    margin-top: 60px;
  }

  .registerLog {
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 10px;
  }
}

/* Media query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 768px) {
  .auth-form-container2 {
    width: 50%;
    margin: 40px;
    height: 70%;
  }

  .loginh1 {
    font-size: 300%;
  }

  .registerLog {
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 10px;
  }
}
