@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:wght@100&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Estilos generales aplicados a todo el documento */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Estilos para el contenedor principal de la aplicación */
.App {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #F3A87E;
}

/* Estilos para títulos principales */
h1 {
  font-size: 600%;
  font-weight: lighter;
  font-family: 'Road Rage', cursive;
  color: #F3A87E;
  margin-bottom: 10px;
}

h2 {
  font-size: 200%;
  font-weight: lighter;
  color: #F3A87E;
  margin-bottom: 25px;
}

/* Estilos para contenedores principales */
main {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Estilos para formularios de autenticación y registro */
.auth-form-container,
.login-form,
.register-form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

/* Estilos para el botón de inicio de sesión */
.loginbutton {
  margin-top: 10px;
  border: none;
  background-color: #F3A87E;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #912E2E;
  font-weight: bold;
}

/* Estilos para botones de inicio de sesión con clase .log */
.log {
  margin-top: 10px;
  border: none;
  background-color: #F3A87E;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

/* Estilos para el botón de inicio de sesión con clase .log al pasar el mouse por encima */
button.log:hover {
  background-color: #ea4319e3;
}

/* Estilos para el botón de enlace */
.link-btn {
  background: none;
  color: white;
}

/* Estilos para los campos de entrada de texto */
label {
  text-align: left;
  padding: 0.25rem 0;
  font-weight: 400;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
}

input::placeholder {
  color: rgb(194, 194, 194);
}

/* Estilos para el botón de registro exitoso */
.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
